td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}
.table td,
 .table th {
     vertical-align: middle;
 }
 #orders_wrapper {
     width: 1085px;
 }
 @media (max-width: 1199px) {
     .table-wrapper {
         overflow: auto;
     }
 }