td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}
.table td,
 .table th {
     vertical-align: middle;
 }
 #table-order_wrapper{
     width: 1085px;
 }
 .select2-container {
     max-width: 100%;
 }
 .content-header {
     background: #f4f6f9;
 }
 .img-content {
    max-height: 350px;
    width: auto;
}

 @media (max-width: 1199px) {
     .table-wrapper {
         overflow: auto;
     }
     #table-clients_wrapper {
        width: 905px;
    }
 }
 @media (max-width: 991px) {
    .table-clients-wrapper {
       overflow: auto;
    }
 }

 @media (max-width: 575px) {
    #table-product {
        width: 485px;
    }
    .price-wrapper {
        order: -1;
    }
 }